.adhego {
  margin: auto;
  font: 12px;
  line-height: 16px;
  padding: 5% 10% 5% 10%; 
  border: solid 1px grey; 
  width: 80%;
  text-align: justify;
}

adhtitre {
  float: left;
  width: 50%;
  height: auto;
  padding: 5%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #7a49a5;
  line-height: 50px;
}

ftinfos {
  float: left;
  padding: 5%;
  width: 30%;
  height: auto;
  margin-top: -1%;
}

adhtitreft::after {
  content: "";
  display: table;
  clear: both;
}

.adhbarre {
  border: 0.4px solid;
  width:400px;
  opacity:0.5;
}

adhp {
  font-weight: bold;
  color: #B9591A
}

adhp::before {
  content: "« ";
}

adhp::after {
  content: " »";
}
